header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.header-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
